# Configuración del Servidor
PORT=3003

# Configuración de Base de Datos
DATABASE_URL="postgresql://postgres:auth_password123@localhost:5435/auth_db?schema=public"

# Configuración JWT
JWT_SECRET="your_jwt_secret_key"

# Configuración NATS
NATS_SERVERS="nats://localhost:4222"